<h1>Stupid Coach</h1>

<h3>Ask your coach anything:</h3>


<form action="/answer" data-turbo="false" class="input-group">
  <input type="text" name="question" class=form-control>
  <input type="submit" value="Ask" class="btn">
</form>
