<h1 class="title">Stupid Coach</h1>

<h3>Ask your coach anything:</h3>

<form action="/answer" data-turbo="false">
  <input type="text" name="question" class="box">
  <input type="submit" value="Ask!" class="btn btn-primary" class=rounded>
</form>
